* {
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
  }
  
  .main-container {
    max-width: 960px;
    margin: 0 auto;
    background: #F3F7FA;
    padding-bottom: 20px;
  }
  
  .content-container {
    max-width: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  