.filters {
  position: fixed;
  width: 232px;
  height: 244px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 10px;
}
  
.filters__title {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-bottom: 12px;
  padding-left: 20px;
}
  
  